/* 
    filename: styles.css
    
    author: Khang Mai 106217893 (part 1), Truc Nguyen 106217880 (part 2)

    date created: September 21st, 2025

    date modified (project part 2): November 11th, 2025
	*Highly altered comparing to part 1 project

    description: CSS stylesheet for MemMis website
*/

/* Truc's note: Almost all of the styling was put in separate ids and classes.
This ensures only the specific elements corresponding to that page will have those 
styles, without affecting elements in other pages that may have the same structure */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	background-color: #050a10;
	color: #fff;
	font-family: system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #aaa;
}
	/* Extra link indication*/
a.external_link::after {
	content: " ↗";
}
a.internal_link::after {
	content: " →";
}
	/* Table styling for all pages*/
table.table_styles {
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse; /* No spaces between table cells*/
}
table.table_styles .row_header {
	width: 15%;
	text-align: center;
}
table.table_styles th,
table.table_styles td {
	border: 3px solid #0d4080;
	padding: 5px 10px;
}
table.table_styles th:hover,
table.table_styles td:hover { /* Project part 1 requirement */
	background-color: #445c7a;
	cursor: default;
}

/*-------------------- Header (Logo & Menu) --------------------*/
#menu_toggle_label {
	display: inline-block;
	margin-top: 16px;
	color: #fff;
	font-weight: bold;
	font-size: 12.8px; /* 16*0.8px */
	cursor: pointer;
}
#menu_toggle {
	z-index: 1;
	appearance: none;
	position: fixed;
	top: 71px;
	left: 4px;
	width: 52px;
	height: 18px;
	cursor: pointer;
	transition: top 0.5s ease 0.3s, left 0.5s ease 0.5s;
}
#menu_toggle_tip { /* Keyboard users assistance */
	z-index: 1;
	position: fixed;
	opacity: 0;
	background: #222;	
	color: #ddd;
	border: 1px solid #ddd;
	padding: 4px 8px;
	font-size: 12px;
	white-space: nowrap;
	pointer-events: none;
}
@media (min-width: 951px) { /* >950px - large screen/viewport */
	#menu_toggle_label,
	#menu_toggle,
	#menu_toggle_tip {
		display: none;
	}
	header {
		background-color: #000f25;
		position: fixed;
		justify-items: center;
		text-align: center; /* Align the menu toggle button */
		height: 100%;
		width: 200px;
		transition: all 0.5s ease;
	}
	main {
		margin-left: 200px; 
	}
	#logo {
		display: flex;
		width: 100px;
		padding: 16px 0;
		transition: all 0.5s ease 0.2s;
	}
	.menu {
		display: flex;
		flex-direction: column;
		margin-top: 36px; /* Makes up place for the menu toggle label */
		list-style-type: none;
		/* For smoother menu transition */
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transition: opacity 0.3s ease 0.5s, visibility 0s linear 0.3s;
	}
	.menu a {
		display: flex;
		flex-wrap: wrap;
		font-weight: bold;
		text-align: left; /* Overrides <header> text-align*/
		color: #fff;
		padding: 8px 16px;
		margin: 3.2px 0; /* 16*0.2px = 3.2px */
		font-size: 16px;
		/* For smoother menu transition */
		width: 200px;
		transition: width 0s;
	}
}
@media (max-width: 950px) { /* <=950px - smaller screen/viewport */
	#menu_toggle_label {
		display: inline-block;
	}
	#menu_toggle,
	#menu_toggle_tip {
		display: block;
	}
	header {
		background-color: #000f25;
		position: fixed;
		justify-items: center;
		text-align: center; /* Align the menu toggle button */
		height: 100%;
		width: 60px;
		transition: all 0.5s ease 0.5s;
	}
	#menu_toggle:checked ~ header {
		width: 200px;
		transition: all 0.5s ease;
	}
	main {
		margin-left: 60px;
	}
	#logo {
		display: flex;
		width: 60px;
		padding: 0 3.2px; /* 16*0.2px = 3.2px */
		transition: all 0.5s ease 0.3s;
	}
	#menu_toggle:checked ~ header > #logo {
		width: 100px;
		padding: 16px 0;
		transition: all 0.5s ease 0.2s;
	}
	.menu {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		/* For smoother menu transition */
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: opacity 0.3s ease, visibility 0s linear 0.3s;
	}
	#menu_toggle:checked ~ header .menu {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		transition: opacity 0.3s ease 0.5s, visibility 0s linear 0.3s;
	}
	.menu a {
		display: flex;
		flex-wrap: wrap;
		font-weight: bold;
		text-align: left; /* Overrides <header> text-align*/
		color: #fff;
		padding: 8px 16px;
		margin: 3.2px 0; /* 16*0.2px = 3.2px */
		font-size: 16px;
		/* For smoother menu transition */
		width: 60px;
		transition: width 0s ease 0.3s;
	}
	#menu_toggle:checked ~ header .menu a {
		width: 200px;
		transition: width 0s;
	}
	#menu_toggle:focus-visible + #menu_toggle_tip {
		opacity: 1;
		top: 85px;
		left: 60px;
		transition: top 0.5s ease 0.3s, left 0.5s ease 0.5s;
	}
	#menu_toggle:checked {
		top: 151px;
		left: 74px;
		transition: left 0.5s ease, top 0.5s ease 0.2s;
	}
	#menu_toggle:focus-visible:checked + #menu_toggle_tip {
		opacity: 1;
		top: 165px;
		left: 130px;
		transition: opacity 0s, left 0.5s ease, top 0.5s ease 0.2s;
	}
}
.menu a:hover,
.menu a:focus-within {
    background-color: #102a4b;
    font-weight: bold;
    color: #d0d0d0;
}
.active {
    border: none;
	background-color: #082242;
}
.menu li {
    position: relative;
}
	/* Job positions navigation*/
.joblist {
	z-index: 1;
	display: none;
	position: absolute;
	background-color: #08192e;
	list-style-type: none;
}
.joblist a {
	display: block;
	width: 200px !important;
}
.menu li:hover .joblist,
.menu li:focus-within .joblist {	
	display: inline-flex;
	flex-direction: column;
}

/*-------------------- index.php --------------------*/
#homepage section h3 {
	padding-top: 20px;
	text-align: center;
}
#welcome {
	/* Background created with Copilot assistance */
	background-image: url(images/background_graphic.png);
    background-size: cover;
	background-repeat: no-repeat;
    background-position: center right;
	transition: all 0.5s ease;
}
	/* Fading effect */
#welcome::before {
	content: "";
	display: block;
	height: 80px;
	margin-bottom: -80px;
	background: linear-gradient(
		0deg,
		#14243400 0%,
		#111f2c59 40%,
		#050a10 100%
	);
	pointer-events: none;
}
#welcome::after {
	content: "";
	display: block;
	height: 80px;
	margin-top: -80px;
	background: linear-gradient(
		180deg,
		#14243400 0%,
		#111f2c59 40%,
		#050a10 100%
	);
	pointer-events: none;
}
#welcome h1,
#welcome h2,
#welcome p {
	padding-left: 30%;
	padding-right: 5%;
	padding-top: 20px;
    text-align: center;
}
#welcome h2 {
	padding-top: 0px; /* Overrides the padding set above */
}
#service_values_grid,
#projects_grid,
#comments_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
#comments_grid {
	margin-top: 15px;
}
#differentiators ul {
	margin-left: 30px;
}
#projects {
	padding: 0 5%;
}
#projects a {
	display: block;
	text-align: center;
}
#services,
#hiring,
#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
#services {
	text-align: left; /* Overrides the text-align above */
}
#hiring {
	width: 70%;
	margin: 0 auto;
}
	/* CTA buttons */
#welcome button {
	display: block;
	background-color: #00f7ff;
    color: #001f3f;
	/* 30% is the welcome section's left padding and 65% is the text width; 274.156px is the button width */
	margin-left: calc(30% + (65% / 2) - (274.156px / 2));
	margin-top: 30px;
	margin-bottom: 70px;
	padding: 15px 30px;
	border-radius: 8px;
	font-weight: bold;
	font-size: 19.2px; /* 16*1.2px */
	transition: all 0.5s ease;
}
@media (max-width: 650px) {
	#welcome h1,
	#welcome h2,
	#welcome p {
		padding-left: 5%;
	}
	#welcome button {
		margin-left: calc(5% + (90% / 2) - (274.156px / 2));
	}
	#welcome {
		background-position: center;
	}
}
#hiring button {
	display: block;
	background-color: #00f7ff;
    color: #001f3f;
	margin-top: 15px;
	padding: 15px 30px;
	border-radius: 8px;
	font-weight: bold;
	font-size: 19.2px; /* 16*1.2px */
	transition: all 0.5s ease;
}
#welcome button:hover,
#welcome button:focus-within,
#hiring button:hover,
#hiring button:focus-within {
	background-color: #4df9ff;
    transform: scale(1.1);
	cursor: pointer;
}

/*-------------------- jobs.php --------------------*/
#jobs_page aside {
	float: right;
	width: 25%;
	height: fit-content;
	border: 3px solid #0d4080;
	border-radius: 20px;
	padding: 20px;
	margin: 20px;
	text-align: center;
}
#jobs_page article {
	margin: 0 5%;
	padding-top: 20px;
	padding-bottom: 50px;
}
#jobs_page h1 {
	text-align: center;
}
#jobs_page h2 {
	margin-top: 15px;
}
#jobs_page p {
	float: none;
	text-indent: 32px;
}
#jobs_page ul {
	margin-left: 32px;
}

/*-------------------- apply.php --------------------*/
#apply_h1 {
	padding-top: 20px;
	text-align: center;
}
#apply_form {
	background-color: #0b111a;
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	border-radius: 20px;
}
#apply_form input[type="text"],
#apply_form input[type="email"],
#apply_form input[type="submit"],
#apply_form select,
#apply_form textarea,
#apply_form fieldset {
	background-color: #1a1f2b;
	margin-bottom: 8px;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	color: #fff;
	font-family: system-ui, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
	line-height: 1.5;
	transition: border-color 0.3s ease;
}
#apply_form input[type="submit"] {
	width: fit-content; /* Overrides the width set above */
}
#apply_form label,
#apply_form fieldset legend {
	color: #c0c0c0;
	font-weight: 500;
}
#apply_form label {
	margin-left: 10px;
}
#apply_form input:focus,
#apply_form select:focus,
#apply_form textarea:focus {
	border-color: #00aaff;
	outline: none;
}
#apply_form input[type="checkbox"]:focus,
#apply_form input[type="radio"]:focus { /* Overrides the :focus set above */
	outline: 2px solid #00aaff;
	outline-offset: 2px;
}
#apply_form .inputs_group {
	display: flex;
	padding: 10px;
	flex-direction: column;
	text-wrap: wrap;
}
#apply_form .inputs_group span {
	display: flex;
	margin-bottom: 8px;
}
#apply_form #name_grid,
#apply_form #dob_gender_grid,
#apply_form #states_grid {
	display: grid;
	gap: 20px;
}
#apply_form #name_grid {
	grid-template-columns: 1fr 1fr;
}
@media (max-width: 750px) {
	#apply_form #name_grid {
		display: block;
	}
}
#apply_form #dob_gender_grid {
	grid-template-columns: 3fr 4fr;
}
@media (max-width: 460px) {
	#apply_form #dob_gender_grid {
		display: block;
	}
}
#apply_form #states_grid {
	grid-template-columns: 5fr 3fr;
}
@media (max-width: 420px) {
	#apply_form #states_grid {
		display: block;
	}
}
#apply_form #dob_gender_grid fieldset label {
	margin-left: 0; /* Overrides the universal label margin-left */
	margin-right: 10px;
}

/*-------------------- about.php --------------------*/
#about_h1,
#group_info h2,
#contributions_and_demographics h2,
#group_photo h2,
#members_interests h2 {
	padding-top: 20px;
	text-align: center;
}
#group_info {
	float: right;
	padding: 0 5%;
	width: 50%;
}
#group_info li li {
	margin-left: 16px;
}
#group_info #divider > ul {
	column-count: 2;
	column-gap: 60px;
}
#group_info #divider ul,
#group_info #divider li {
	break-inside: avoid;
}
#group_photo {
	float: right; /* Project part 1 requirement... */
	width: 50%; 
	padding: 0 5%;
}
#group_photo img {
	display: block;
	margin: 0 auto;
	width: 100%;
	border: 3px solid #0d4080;
}
#group_photo figcaption{
	text-align: center;
}
@media (max-width: 900px) { /* when width is <=900px, group info list becomes too stretched on 50% */
	#group_info {
		width: 100%;
	}
	#group_photo {
		width: 100%;
	}
}
#contributions_and_demographics {
	clear: both;
	width: 100%;
	padding: 0 5%;
}
#contributions_and_demographics dl {
	border: 3px solid #0d4080;
	border-radius: 20px;
	margin-top: 20px;
	padding: 10px;
}
#contributions_and_demographics dl dt {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;
}
	/* Split the sections into 2 parts: text and image — avatar */
#contributions_and_demographics .flex_container {
	display: flex;
	align-items: flex-start;
	flex-direction: row;
	gap: 30px;
}
#contributions_and_demographics .text_container {
	flex: 1;
}
#contributions_and_demographics li {
	margin-left: 16px;
}
#contributions_and_demographics img {
	width: auto; max-width: 150px;
}
#contributions_and_demographics figure {
	text-align: center;
}
#members_interests {
	clear: both;
	padding: 0 5%;
}

/*-------------------- Footer --------------------*/
main {
	/* 100vh is 100% of viewport height; 135.938px is the footer height */
	min-height: calc(100vh - 135.938px); 
}
footer {
	position: relative;
    background-color: #030d30;
	padding: 20px;
    text-align: center;
    font-size: 12.8px; /* 16*0.8px */
}