/* 
    filename: styles.css
    
    author: Khang Mai 106217893 (main), Truc Nguyen 106217880 (sub)

    date created: September 21st, 2025

    date modified: October 1st, 2025

    description: CSS stylesheet for MemMis website
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}
/* Header (Logo & Menu) */
#logo {
    display: inline;
    width: 100px;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #eee;
    padding: 0.5em;
}
.menu a {
    padding: 0.5em;
    color: #444;
    font-weight: bold;
    text-decoration: none;
}
.menu a:hover {
    background-color: #aaa;
    color: green;
    font-weight: bold;
}
.active {
    background-color: #aaa;
    border: none;
    color: green !important;
}
.menu li {
    position: relative;
}
.joblist {
    list-style-type: none;
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 15em;
    z-index: 1;
}
.joblist a {
    display: block;
}
.menu li:hover .joblist {
    display: block;
}

/* index.html */
#welcome{
    max-width: 700px;    
    margin: 0 auto;       
    padding: 20px;
}
#welcome h1{
    text-align: center;
}
#welcome h2{
    text-align: center;
}
#welcome a:hover{
    color: yellow;
}
#differentiators{
    max-width: 700px;    
    margin: 0 auto;       
    padding: 20px;
}
#information{
    max-width: 700px;    
    margin: 0 auto;       
    padding: 20px;
}
#information a:hover{
    color: yellow;
}
#projects{
    max-width: 700px;    
    margin: 0 auto;       
    padding: 20px;
}
#projects a:hover{
    color: yellow;
}
#services{
    max-width: 700px;    
    margin: 0 auto;       
    padding: 20px;
}
#hiring{
    max-width: 700px;    
    margin: 0 auto;       
    padding: 20px;
}
#hiring a:hover{
    color: yellow;
}
#contact{
    max-width: 700px;    
    margin: 0 auto;       
    padding: 20px;
}
#welcome a,
#information a,
#projects a,
#hiring a{
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  border: none;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;   
  background: linear-gradient(to right, #00c6ff, #0072ff);
}

/* jobs.html */

/* apply.html */

/* about.html */
#header_1_About_Us{
    text-align: center;
}
#header_2_About_Us img {
  width: 45px;
  height: auto;
}
/* Footer */
footer{
    max-width: 700px;    
    margin: 0 auto;       
    padding: 20px;
    text-align: center;
}
footer p{
    text-align: center;
}